html,body,div,span,h1,h2,h3,h4,h5,h6,p,dfn,em,img,strong,sub,sup,ol,ul,li,form,label,table,tbody,tfoot,thead,tr,th,td,a,input,i{ margin:0; padding:0; border:0;  text-decoration:none;font-weight: normal;font-style: normal;}
a,li,input,img,p{-webkit-tap-highlight-color:transparent;text-decoration: none;}
input,select,textarea{outline: none;}
ul,ol{list-style: none;margin: 0;padding: 0;}
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden}
.col-3{width: 25%;float: left;}
.col-6{width: 50%;float: left;}
.text-right{text-align: right;}
.text-left{text-align: left;}
.text-center{text-align: center;}
.float-left{float: left;}
.float-right{float: right;}
.content_box{width: 100%;height:100%;}
.l_container {width: 100%;}
.l_content{margin-left:0.75em;padding-right: 0.75em;}
body{overflow-x:hidden;position: relative;z-index: 9999;background-color: #fff;font-family: Tahoma, Arial, Roboto, ”Droid Sans”, ”Helvetica Neue”, ”Droid Sans Fallback”, ”Heiti SC”, sans-self;}
/*reset*/

/*头部nav 公用*/
.nav_bar{height: 2.2rem;line-height: 2.2rem;background-color: #0b0b0b;color: #fff;font-size: 0.9em;position: fixed;top:0;left: 0;width: 0;width: 100%;z-index: 99;}
.nav_bar a img{height: 0.8rem;width: auto;float: left;margin-left: 0.5em;margin-top: 0.7rem;}
.nav_bar a.search img{height: 0.9rem;margin-top: 0.65rem;}
.nav_bar a.user img{height: 1.05rem;margin-left: 0.8em;margin-top: 0.575rem;float: right;margin-right: 0.4em;} 
.nav_bar .title{text-align: center;}
.nav_bar .right{text-align: left;}
/*头部nav 公用*/
.sub_nav{width: 100%;height: auto;margin-top: 2.2em;position: relative;z-index: 5;}
.sub_nav .sub_one{height: 1.8rem;line-height: 1.8rem;background-color: #0583e6;padding:0 0.75em;position: relative;}
.sub_nav .sub_one .ul_one{width: 92%;overflow: hidden;}
.sub_nav .sub_one .ul_one li{font-size: 0.7em;color: #78bef6;float: left;padding:0 0.5em;}
.sub_nav .sub_one .ul_one li.active{color: #fff;}
.sub_nav .sub_one .toggle_icon{position: absolute;top:0;right:0;height: 1.5rem;width: 2.2em;display: inline-block;text-align: center;line-height: 1.5rem;}
.sub_nav .sub_one .toggle_icon img{width: 0.7rem;height: auto;}
.sub_nav .ul_two{padding:0 0.75em;background-color: #f4f4f4;height: auto;display: none;position: absolute;top:1.8em;left: 0;right: 0;}
.sub_nav .ul_two li{height: 1.8rem;line-height: 1.8rem;padding:0 0.5em;float: left;color: #171717;font-size: 0.7em;}
/*sub_nav     ed*/

.lists_can{margin-bottom: 2.3em;}
.lists_can .section1{height: 5em;border-bottom: 1px solid #e1e1e1;}
.lists_can .section1 .pic{width: 28%;float: left;}
.lists_can .section1 .pic img{height: 4em;width: 4em;border-radius: 6px;margin-top: 0.5em;}
.lists_can .section1 .mess{width: 72%;float: left;position: relative;height: 100%;padding-left: 0.75em;box-sizing: border-box;}
.lists_can .section1 .mess .title{color: #000;font-size: 0.7em;margin-top: 0.95em;}
.lists_can .section1 .mess .stars img{height: 0.7rem;width: 0.7rem;}
.lists_can .section1 .mess .price{color: #1f1f1f;font-size: 0.75em;}
.lists_can .section1 .mess .price del{color: #aeadad;font-size: 0.6rem;margin-left: 0.25em;}
.shop_search_result .lists_can .section1 .mess .off{color: #b4b4b4;}
.lists_can .section1 .mess .off{color: #b4b4b4;font-size:0.6em ;padding:0.5em;position: absolute;right: 0;bottom: 0;display: none;}
.lists_can .section1 .mess .over{height: 2.4rem;width: 2.4rem;position: absolute;right: 0;bottom: 0;display: none;}
.lists_can .section1 .mess .over img{height: 100%;width: 100%;}
.lists_can .section1:nth-child(2) .cart,.lists_can .section1:nth-child(3) .cart{display: none;}
.lists_can .section1:nth-child(2) .off{display: inline-block;}
.lists_can .section1:nth-child(3) .over{display: inline-block;}
/*西餐首页主体页面   ed*/


.cart{position: absolute;right: 0;bottom: 0.5em;}
.cart a{display: inline-block;}
.cart a img{height: 0.9rem;width: 0.9rem;vertical-align: middle;}
.cart a.num{min-width: 1.9em;width: auto;color: #505152;font-size: 0.7rem;text-align: center;vertical-align: middle;}
/*購物車加減樣式  ed*/

.foot_can{height: 2.3rem;line-height: 2.3rem;background-color:rgba(219,219,219,.9);position: fixed;bottom:0;left:0;right: 0;width: 100%;border-top: 1px solid #d7d7d7;z-index: 99;}
.foot_can p{float: left;}
.foot_can .foot_left{width: 70%;position: relative;}
.foot_can .foot_left .cart_icon{position: absolute;height:2.5em;width: 2.5em;display: inline-block;top:-0.7em;left:0.75em;}
.foot_can .foot_left .cart_icon img{height:2.5rem;width: 100%;}
.foot_can .foot_left .cart_icon i{display: inline-block;height: 0.8rem;line-height: 0.8rem;min-width: 0.8rem;width: auto;border-radius: 0.8rem;background-color:#ff0000;position: absolute;top:0.2em;right:-0.2em;text-align: center;padding:0 0.25em;box-sizing: border-box;color: #fff;font-size: 0.6em;}
.foot_can .foot_left .price_total{display: inline-block;height: 2.3rem;line-height: 2.3rem;color: #000;font-size: 0.6em;margin-left: 6em;}
.foot_can .foot_left .price_total em{font-size: 0.75rem;}
.foot_can .foot_right{width: 30%;text-align: right;}
.foot_can .foot_right a{margin-top:0.7em;color: #fff;height: 1.5rem;line-height: 1.5rem;width: 3.9rem;border-radius: 6px;background-color: #f76531;display: inline-block;text-align: center;border:1px solid #f3490c;font-size: 0.75em;margin-right: 0.75em;}
/*foot_bar樣式   ed*/

.cart_list_win{background-color: rgba(0,0,0,.6);position: fixed;top:0;bottom:2.3em;right: 0;width: 100%;display: none;}
.cart_list_win_show{display: block;}
.list_box{background-color: #fff;padding: 0 0.5em;position: fixed;bottom:-12em;left: 0;right: 0;transition: all 0.75s;}
.list_box_hide{bottom:2.3em;}
.list_box .box{max-height: 9em;overflow-y: auto;height: auto;}
.list_box p{height: 1.8rem;line-height: 1.8rem;border-bottom: 1px solid #eee;color: #000;font-size: 0.6em;position: relative;box-sizing: border-box;}
.list_box p span{display: inline-block;}
.list_box .cart_t{font-size: 0.5em;color: #999;height: 1.8rem;line-height: 1.8rem;}
.list_box .cart_t .clear{float: right;cursor: pointer;}
.list_box .cart_t .clear img{height: 0.55rem;width: auto;margin-right: 0.3em;float: left;margin-top: 0.6rem;}
.list_box p .one{width: 48%;}
.list_box p .two{width: 26%;}
.list_box p .three{width: 26%;}
.list_box p .cart{bottom: 0;}
.list_box p:nth-child(2) .cart,.list_box p:nth-child(3) .cart,.list_box p:nth-child(4) .cart{display: none;}
.list_box p:nth-child(2) .off,.list_box p:nth-child(3) .off,.list_box p:nth-child(4) .off{display: inline-block;}
.list_box p .off{height: 1rem;line-height: 1rem;padding:0 0.75em;background-color: #e9e9e9;color: #767676;font-size: 0.45rem;text-align: center;border-radius: 6px;display: none;position: absolute;right: 0;bottom: 0.4rem;}
.list_box p .kc_tip{height: 0.6rem;line-height: 0.6rem;width: 2.15rem;display: inline-block;color: #f33;font-size: 0.45rem;text-align: center;border-radius: 2px;position: absolute;background-color: #ffebc8;}
/*購物車列表樣式    ed*/

.search_result .nav_bar .right{text-align: center;}
.search_result .lists_can{margin-top: 2.2em;}
/*西餐搜索结果页面   ed*/
.sub_order_can{padding-bottom: 3em;}
.sub_order_can .l_container{background-color: #fff;} 
.mess_person{position: relative;margin-top:2.45em;}
.mess_person img{height: 0.25em;width: 97.5%;position: absolute;top:0;left:0.2em;}
.mess_person .l_content{padding-top: 0.25em;}
.l_content .kc_tip{height: 0.6rem;line-height: 0.6rem;width: 3.15rem;display: inline-block;color: #f33;font-size: 0.6rem;text-align: center;border-radius: 2px;display: none;}
.mess_person p{height: 2rem;line-height: 2rem;border-bottom: 1px dashed  #e0e0e0;}
.mess_person p.last{border-bottom: none;}
.mess_person p .left{width: 45%;color: #999;display: inline-block;font-size: 0.7em;}
.mess_person p .right{width: 55%;display: inline-block;color: #000;font-size: 0.65rem;}
.mess_person p .right input{height: 1rem;line-height: 1rem;margin-top: -0.1rem;width: 100%; font-size: 0.6rem;}
.mess_person p.room .right input{width: 50%;}
.mess_person p .right input::-webkit-input-placeholder{color: #ccc;font-size:0.65rem;}

.mess_can{margin-top: 0.5em;background-color: #fff;padding-bottom: 0.75em;}
.mess_can .title_can{font-size: 0.7em;color: #000;font-weight: bold;background-color: #f4f7fa;height: 1.8rem;line-height: 1.8rem;padding-left: 0.75em;box-sizing: border-box;}
.mess_can p{/*height: 2rem;*/line-height: 1.5rem;font-size: .65em;border-bottom: 1px dashed  #e0e0e0;clear: both;}
.mess_can p span.one{width: 55%;/*width: 8rem; */color: #000;display: inline-block;/*line-height: 1.2rem;*/}
.mess_can p span.two{/*float:right;*/width: 15%;text-align: right;display: inline-block;}
.mess_can p span.three{width: 25%;text-align: right;display:block;float: right;}
.mess_can p.last_can span.one{width: 40%;/*width: 8rem;*/font-size: 0.65rem;}
.mess_can p span.one i.z_notenough{display:none;color: red;font-size: 0.9em;}
.mess_can p.last_can span.two{width: 50%;/*width: 6rem; */text-align: right;display:block;float: right;/*line-height: 1.2rem;*/}
.mess_can p.last_can span.two i{color: #f33;}
.mess_can .l_content .l_tip{background-color:#f4f7fa ;margin: 0.75em 0.4em;width: 94.76%;margin-bottom: 0;}
.mess_can .l_content .l_tip p{color: #606060;font-size: 0.65em;height: 1.75rem;line-height: 1.75rem;text-align: center;border-bottom:none;}
.mess_can .l_content .l_tip p.time{border-bottom: 1px dashed #e0e0e0;}
.bad_goods{margin-top: 0.5em;}
.bad_goods .l_content{padding-top:0.4em;padding-bottom: 0.4em;}
.bad_goods .title{font-size: 0.7em;color: #000;font-weight: bold;background-color: #f4f7fa;height: 1.8rem;line-height: 1.8rem;padding-left: 0.75em;box-sizing: border-box;}
.bad_goods p{font-size: 0.65em;color: #000;height: 1.4rem;line-height: 1.4rem;}
.bad_goods p span{font-size: 0.6rem;color: #666;float: right;}
.foot_bar_sub{padding:0 0.5em;height: 2.45rem;line-height: 2.45rem;border-top:1px solid #d8d8d8;position: fixed;bottom: 0;left: 0;right: 0;background-color: #fff;}
.foot_bar_sub span{font-size: 0.65rem;color: #000;}
.foot_bar_sub span i{font-size: 0.75rem;font-weight: bold;margin-left: 0.4em;}
.foot_bar_sub span i em{font-weight: bold;}
.foot_bar_sub a{color: #fff;font-size: 0.7rem;text-align: center;float: right;height: 1.5rem;line-height: 1.5rem;background-color: #f76531;width: 3.9rem;margin-top: 0.48rem;border-radius: 6px;display: block;}

/*弹窗*/
.yan_tip{height: 1.5rem;line-height: 1.5rem;width:12em ;text-align: center;background-color: #393939;color: #fff;font-size: 0.65em;position: fixed;top:30%;left:50%;margin-left: -6em;border-radius: 6px;display: none;}
.tan_drop{background-color: rgba(0,0,0,.4);position: fixed;top:0;bottom: 0;left:0;right: 0;display: none;z-index: 101;}
.tan_box{width: 11em;background-color: #fff;border-radius: 0.3rem;position: absolute;top:30%;left:50%;margin-left: -5.5em;}
.tan_box .text{text-align: center;color: #424242;font-size: 0.65em;margin: 2.7em 0 1.35em 0;}
.tan_box .room_btn{text-align: center;}
.tan_box .room_btn a{text-align: center;display: inline-block;height: 1.45rem;line-height: 1.45rem;width: 8rem;border-radius: 1.45rem;background-color: #0e76d8;color: #fff;font-size:0.65rem ;border:1px solid #0e76d8;}
.tan_box .room_btn.btn2 a{background-color: #fff;margin: 0.75em 0 1.25em 0;color: #0e76d8;border:1px solid #0e76d8;box-sizing: border-box;}
.tan_box img{height: 2.5em;width: 2.5em;position: absolute;top:-1.25em;left:50%;margin-left: -1.25em;}
.tan2 .tan_box .room_btn,.tan4 .tan_box .room_btn{margin: 1em 0 1.2em 0;}
.tan4 .tan_box{padding-top:0.75em;}
.tan4 .tan_box .room_btn a{width: 4rem;}
.tan4 .tan_box .room_btn a.cancle{background-color: #fff;color: #1e4ba3;border:1px solid #1e4ba3;margin-right:1em ;}
.tan4 .tan_box p.text{margin: 0.5em 0 0 0;}

/*西餐提交订单页面   ed*/
.order-detail_can{padding: 0 0.5em;}
.order-detail_can .l_content{background-color: #fff;padding:0 0.4em;margin: 0;}
.ing{height: 1.6rem;line-height: 1.6rem;background-color: #f48f8d;color: #fff;text-align: center;font-size: 0.65em;margin-top: 2.2rem;}
.l_card{background: url(../images/big1.png);height:11.5em;background-size:100% 100%;padding:0 0.75em;box-sizing: border-box;font-size: 0.75em;color: #fff;margin-bottom: 0.6em;margin-top: 0.5em;}
.l_card_shop.l_card{padding-right: 0;}
.l_card .hotel_name{height: 2rem;line-height: 2rem;}
.l_card .hotel_mess{padding:0.3rem 0;box-sizing: border-box;}
.l_card .hotel_mess p{height: 1.2rem;line-height: 1.2rem;width: 100%;overflow: hidden;}
.l_card .hotel_mess p span{margin: 0 0.5em 0 .15em;}
.l_card .hotel_mess p span.name{margin-right: 0;}
.mess_can .l_content p.last_can2{min-height:2rem;height: auto;}
.mess_can .l_content p.last_can2 span.one{width: 40%;line-height: 1.2rem;margin: 0.4rem 0;font-size: 0.65rem;}
.mess_can p.last_can2 span.two{width: 60%;line-height: 1.2rem;margin: 0.4rem 0;text-align: left;overflow: hidden;font-size: 0.65rem;}
.order-detail_can .mess_can .l_content .l_tip p{color: #333;}
.bad_goods.room_o{margin-bottom: 2.1rem;}
.bad_goods.room_o .l_content{padding-bottom: 0.75em;}
.bad_goods.room_o .l_content p span:first-child{width: 38%;float: left;}
.bad_goods.room_o .l_content p span:last-child{width: 62%;text-align: left;float: left;}
.bad_goods.room_o .l_content p{height: 2.05rem;line-height: 2.05rem;border-bottom: 1px dashed #e0e0e0;color:333 ;font-size: 0.65em;}
.bad_goods.room_o .l_content p.hotel_phone{height: 1.8rem;line-height: 1.8rem;margin: 0.75em 0.75em 0 0.75em;background-color: #f4f7fa;text-align: center;border-bottom: none;}
.bad_goods.room_o .l_content p.hotel_phone a{color: #979696;font-size: 0.65rem;position: relative;padding-left: 1.8em;display: inline-block;height: 1.8rem;line-height: 1.8rem;}
.bad_goods.room_o .l_content p.hotel_phone a img{height: 0.75rem;width: auto;position: absolute;left:0;top:0.525rem;}
.foot_bar_can{height: 2.1rem;line-height: 2.1rem;}
.foot_bar_can a{background-color: #e85224;height: 1.5rem;line-height: 1.5rem;margin: 0.3rem 0.4em 0 0.4em;display: none;border:1px solid #e85224;}
.foot_bar_can .sub_btn.sub_btn2{border:1px solid #979da3;color: #666;background-color: #fff;}
.foot_bar_can a.gm,.foot_bar_can a.sc{display: inline-block;}
.order_tip{height: 2.2rem;line-height: 2.2rem;width: 7rem;border-radius: 0.2rem;background-color: #666;color: #fff;font-size: 0.7em;position: fixed;top:35%;left:50%;margin-left: -3.5rem;text-align: center;display: none;}
/*西餐订单详情页面   ed*/
.shop .lists_can .section1 .mess .price{margin-top: 0.9em;}
.shop .lists_can .section1 .mess .off{color: #b4b4b4;}
/*便利店  首页  ed*/
.shop_search_result .nav_bar .right{text-align: center;}
.shop_search_result .lists_can{margin-top: 2.2em;}
.shop_search_result .lists_can .section1 .mess .price{margin-top: 0.9em;}
.shop_search_result .lists_can .section1 .mess .off{color: #b4b4b4;}
/*便利店  搜索结果页  ed*/

/*头部*/
.top {width: 100%;height: 2.2em;background: #000;text-align: center;line-height:2.2em;position: fixed;top: 0;z-index: 99;}
.top p {color: #fff;width: 100%;font-size: 0.9em;}
.top p a {width: 0.5em; height: 0.8em;display: block;float: left;margin-left: 0.5em;}
.top p a img{ width: 100%; height: 100%;}
.content_box_hotel .hotel_section_box{background-color: #f1f1f1;margin-top: 2.2em;padding-top: .001em;}
.content_box_hotel .hotel_section{margin-top: .25em;background-color: #fff;padding: 0.375em 0;}
.content_box_hotel .title_h{color: #666;font-size: .75em;height:1.65em ;}
.content_box_hotel .list{width: 100%;margin-left: 0.8em;}
.content_box_hotel .list tr{text-align:left;height:2em;line-height:2em;}
.content_box_hotel .list tr td{color: #888;font-size: .6rem;width: 50%;line-height: 1.5em;overflow:hidden ;text-overflow: ellipsis;white-space: nowrap;display: inline-block;
    box-sizing: border-box;padding-right: 2.5em;float: left;}
.content_box_hotel .list tr td span{margin-top: 0.4em;width:4rem;float:left;overflow:hidden ;text-overflow: ellipsis;white-space: nowrap;}   
.content_box_hotel .list tr td img{float:left;vertical-align: middle;margin-right: 0.5em;height:1.25rem;width: 1.25rem;}
.content_box_hotel .time p{color: #a9a9a9;font-size: 0.65em;height: 1.625em;}
.content_box_hotel .tel .title_c{text-align: center;line-height: 1.65em;}
.content_box_hotel .tel img{vertical-align:middle;margin-right: .75em;height: 1rem;width: auto;}
.content_box_hotel .dir p{color: #a9a9a9;font-size: .65em;line-height:1.625em;}
.content_box_hotel .dir span{color: #888;display: block;color: #999;font-size: .65em;margin-top: .5em;}
.shop_date {background-color: #fff;margin-top: .25em;padding: .5em;height: 2.5rem;margin-bottom: 0.25em;}
.shop_date .date {width: 35.7%;}   
.shop_date .total_date {font-size: 0.65em;color: #666;margin-top: 1.6em;width: 6em;}
.mar{margin:0.5em 0;}
.shop_date .date {width: 35.7%;}
.in{font-size: 0.5em; color: #666;} 
.in span{margin-left: 2.8em;}   
.in_time{color: #333; font-size: 0.9em; margin-top: 0.3em;}   
.shop_date .date .in_time img {vertical-align: middle;margin-top: .125em;}
.s_git{text-decoration: line-through; font-size: 0.7em; color: #999; margin-left: 0.5em;}
.l_section2{ margin-top: 2.2em;}
.good_r{margin-top: 1em;}

.l_container ul{width: 100%;}
.l_container ul li{width: 50%; text-align: left;height: 2.5em;color: #888;font-size: 0.6em; }
.l_container ul li i{width:5.7em; padding: 0.3em 0; }
.l_container ul li img{float:left; height:1.25em;width:1.25em; vertical-align:top;margin-right: 0.1em; }
/*服务指南-酒店详情页面 ed*/ 
/*无网络弹窗*/
.tan_drop{background-color: rgba(0,0,0,.4);position: fixed;top:0;bottom: 0;left:0;right: 0;display: none;z-index: 101;}
.no_network{background-color: rgba(0,0,0,.4);position: fixed;top:0;bottom: 0;left:0;right: 0;display: none;z-index: 101;}
.tan_box{width: 11em;background-color: #fff;border-radius: 0.3rem;position: absolute;top:30%;left:50%;margin-left: -5.5em;}
.tan_box .text{text-align: center;color: #424242;font-size: 0.65em;margin: 2.7em 0 1.35em 0;}
.tan_box .room_btn{text-align: center;}
.tan_box .room_btn a{text-align: center;display: inline-block;height: 1.45rem;line-height: 1.45rem;width: 8rem;border-radius: 1.45rem;background-color: #0e76d8;color: #fff;font-size:0.65rem ;border:1px solid #0e76d8;}
.tan_box .room_btn.btn2 a{background-color: #fff;margin: 0.75em 0 1.25em 0;color: #0e76d8;border:1px solid #0e76d8;box-sizing: border-box;}
.tan_box img{height: 2.5em;width: 2.5em;position: absolute;top:-1.25em;left:50%;margin-left: -1.25em;}
.no_network .tan_box .room_btn,.tan4 .tan_box .room_btn{margin: 1em 0 1.2em 0;}