*{ margin: 0; padding: 0; font-family: "微软雅黑";}
a{ text-decoration: none;color:#026ABC;}
a:hover,a:focus {text-decoration: none;outline: none; }
.s_box{ margin: 20px;}
.s_box .s_text{ font-size: 18px; font-weight: bold;}
.s_box a{ line-height: 30px;}
